header {
  font-size: 15px;
  font-weight: 500;
}

#logo {
  fill: var(--primary);
}

header .link {
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
}

.v-line {
  background-color: gray;
}

header .link:hover {
  color: var(--primary);
}
